<li>
  <a href="{{ site.js }}" class="otherLinkColour">Introduction</a>
</li>
<li class="category">DEVELOPMENT</li>
<li>
  <a
    style="cursor: pointer; color: #3c3c3c"
    href="{{ site.js }}user-guide/index.html"
    class="otherLinkColour"
    >User Guide</a
  >
</li>
<li>
  <a
    style="cursor: pointer; color: #3c3c3c"
    href="{{ site.dcp_js_api }}"
    class="otherLinkColour"
    >API Reference</a
  >
  <ul>
    <li>
      <a href="{{ site.dcp_js_api }}CodeParser.html" class="otherLinkColour"
        >CodeParser for code parsing</a
      >
    </li>
    <li>
      <a
        href="{{ site.dcp_js_api }}LicenseControl.html"
        class="otherLinkColour"
        >License Control</a
      >
    </li>
    <li>
      <a
        href="{{ site.dcp_js_api }}InitializeEngine.html"
        class="otherLinkColour"
        >Initialization Control</a
      >
    </li>
    <li>
      <a
        href="{{ site.dcp_js_api }}interfacesindex.html"
        class="otherLinkColour"
        >Interfaces</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dcp_js_api }}interfacesBasicPersonalInfo.html"
            class="otherLinkColour"
            >BasicPersonalInfo</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcp_js_api }}interfacesCodeParserException.html"
            class="otherLinkColour"
            >CodeParserException</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcp_js_api }}interfacesParseResult.html"
            class="otherLinkColour"
            >ParseResult</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ site.dcp_enum }}index.html" class="otherLinkColour"
        >Enums</a
      >
      <ul>
        <li>
          <a
            href="{{ site.dcp_enum }}EnumCodeFormat.html"
            class="otherLinkColour"
            >EnumCodeFormat</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcp_enum }}EnumErrorCode.html"
            class="otherLinkColour"
            >EnumErrorCode</a
          >
        </li>
        <li>
          <a
            href="{{ site.dcp_enum }}EnumResultInfoType.html"
            class="otherLinkColour"
            >EnumResultInfoType</a
          >
        </li>
      </ul>
    </li>
  </ul>
</li>
<li>
  <a href="{{ site.js_release_notes }}" class="otherLinkColour"
    >Release Notes</a
  >
  <ul>
    <li>
      <a
        href="{{ site.js_release_notes }}js-2.html"
        class="otherLinkColour"
        >Version 1.x</a
      >
    </li>
  </ul>
</li>
