<li>
  <a href="{{ site.javascript }}" class="otherLinkColour">Introduction</a>
</li>
<li class="category">DEVELOPMENT</li>
<li>
  <a
    style="cursor: pointer; color: #3c3c3c"
    href="{{ site.javascript }}user-guide/index.html"
    class="otherLinkColour"
    >User Guide</a
  >
</li>
<li>
  <a
    style="cursor: pointer; color: #3c3c3c"
    href="{{ site.javascript-api }}"
    class="otherLinkColour"
    >API Reference</a
  >
  <ul>
    <li>
      <a href="{{ site.javascript-api }}CodeParser.html" class="otherLinkColour"
        >CodeParser</a
      >
    </li>
    <li lang="javascript">
      <a
        href="{{ site.dcv_js_api }}license/license-module.html"
        class="otherLinkColour"
        >License</a
      >
      <ul lang="javascript">
        <li lang="javascript">
          <a
            href="{{ site.dcv_js_api }}license/license-manager.html"
            class="otherLinkColour"
            >LicenseManger</a
          >
        </li>
        <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}license/license-verification-listener.html" class="otherLinkColour">LicenseVerificationListener</a></li>-->
      </ul>
    </li>
    <li lang="javascript">
      <a
        href="{{ site.dcv_js_api }}core/core-module.html"
        class="otherLinkColour"
        >Core</a
      >
      <ul lang="javascript">
        <li lang="javascript">
          <a>Input</a>
          <ul lang="javascript">
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/image-source-adapter.html"
                class="otherLinkColour"
                >ImageSourceAdapter</a
              >
            </li>
            <!--
                        <li lang="javascript"><a href="{{ site.dcv_js_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                        <li lang="javascript"><a href="{{ site.dcv_js_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">ProactiveImageSourceAdapter</a></li>
                        -->
          </ul>
        </li>
        <li lang="javascript">
          <a>Basic Structures</a>
          <ul lang="javascript">
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/arc.html"
                class="otherLinkColour"
                >Arc</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/contour.html"
                class="otherLinkColour"
                >Contour</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/corner.html"
                class="otherLinkColour"
                >Corner</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-file.html"
                class="otherLinkColour"
                >DSFile</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-image-data.html"
                class="otherLinkColour"
                >DSImageData</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/ds-rect.html"
                class="otherLinkColour"
                >DSRect</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/edge.html"
                class="otherLinkColour"
                >Edge</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/file-image-tag.html"
                class="otherLinkColour"
                >FileImageTag</a
              >
            </li>
            <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}core/basic-structures/image-data.html" class="otherLinkColour">ImageData</a></li>-->
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/image-tag.html"
                class="otherLinkColour"
                >ImageTag</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/line-segment.html"
                class="otherLinkColour"
                >LineSegment</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/pdf-reading-parameter.html"
                class="otherLinkColour"
                >PDFReadingParameter</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/point.html"
                class="otherLinkColour"
                >Point</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/polygon.html"
                class="otherLinkColour"
                >Polygon</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/quadrilateral.html"
                class="otherLinkColour"
                >Quadrilateral</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/rect.html"
                class="otherLinkColour"
                >Rect</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/video-frame-tag.html"
                class="otherLinkColour"
                >VideoFrameTag</a
              >
            </li>
          </ul>
        </li>
        <li lang="javascript">
          <a>Intermediate Results</a>
          <ul lang="javascript">
            <!-- 
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}localized-text-lines-unit.html" class="otherLinkColour">CLocalizedTextLinesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-lines-unit.html" class="otherLinkColour">CRecognizedTextLinesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}localized-text-line-element.html" class="otherLinkColour">CLocalizedTextLineElement</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-line-element.html" class="otherLinkColour">CRecognizedTextLineElement</a></li>               
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}candidate-quad-edges-unit.html" class="otherLinkColour">CandidateQuadEdgesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}corners-unit.html" class="otherLinkColour">CornersUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quad-element.html" class="otherLinkColour">DetectedQuadElement</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quads-unit.html" class="otherLinkColour">DetectedQuadsUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}long-lines-unit.html" class="otherLinkColour">LongLinesUnit</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-image-element.html" class="otherLinkColour">NormalizedImageElement</a></li> 
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-images-unit.html" class="otherLinkColour">NormalizedImageUnit</a></li>
                        -->
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/binary-image-unit.html"
                class="otherLinkColour"
                >BinaryImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}candidate-barcode-zones-unit.html"
                class="otherLinkColour"
                >CandidateBarcodeZonesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/colour-image-unit.html"
                class="otherLinkColour"
                >ColourImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}complemented-barcode-image-unit.html"
                class="otherLinkColour"
                >ComplementedBarcodeImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/contours-unit.html"
                class="otherLinkColour"
                >ContoursUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcode-element.html"
                class="otherLinkColour"
                >DecodedBarcodeElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcodes-unit.html"
                class="otherLinkColour"
                >DecodedBarcodesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}deformation-resisted-barcode-image-unit.html"
                class="otherLinkColour"
                >DeformationResistedBarcodeImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/enhanced-grayscale-image-unit.html"
                class="otherLinkColour"
                >EnhancedGrayscaleImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}extended-barcode-result.html"
                class="otherLinkColour"
                >ExtendedBarcodeResult</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/grayscale-image-unit.html"
                class="otherLinkColour"
                >GrayscaleImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-extra-info.html"
                class="otherLinkColour"
                >IntermediateResultExtraInfo</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-manager.html"
                class="otherLinkColour"
                >IntermediateResultManager</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-receiver.html"
                class="otherLinkColour"
                >IntermediateResultReceiver</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result-unit.html"
                class="otherLinkColour"
                >IntermediateResultUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/intermediate-result.html"
                class="otherLinkColour"
                >IntermediateResult</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/line-segments-unit.html"
                class="otherLinkColour"
                >LineSegmentsUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}localized-barcode-element.html"
                class="otherLinkColour"
                >LocalizedBarcodesElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}localized-barcodes-unit.html"
                class="otherLinkColour"
                >LocalizedBarcodesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/observation-parameters.html"
                class="otherLinkColour"
                >ObservationParameters</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/predetected-region-element.html"
                class="otherLinkColour"
                >PredetectedRegionElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/predetected-regions-unit.html"
                class="otherLinkColour"
                >PredetectedRegionsUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/region-object-element.html"
                class="otherLinkColour"
                >RegionObjectElement</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/scaled-down-colour-image-unit.html"
                class="otherLinkColour"
                >ScaledDownColourImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}scaled-up-barcode-image-unit.html"
                class="otherLinkColour"
                >ScaledUpBarcodeImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/text-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextRemovedBinaryImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/text-zones-unit.html"
                class="otherLinkColour"
                >TextZonesUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-detection-result-unit.html"
                class="otherLinkColour"
                >TextureDetectionResultUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-removed-binary-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedBinaryImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TextureRemovedGrayscaleImageUnit</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/intermediate-results/transformed-grayscale-image-unit.html"
                class="otherLinkColour"
                >TransformedGrayscaleImageUnit</a
              >
            </li>
          </ul>
        </li>
        <li lang="javascript">
          <a>Final Results</a>
          <ul lang="javascript">
            <li lang="javascript">
              <a
                href="{{ site.js_api }}barcode-result-item.html"
                class="otherLinkColour"
                >BarcodeResultItem</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/captured-result.html"
                class="otherLinkColour"
                >CapturedResult</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/captured-result-filter.html"
                class="otherLinkColour"
                >CapturedResultFilter</a
              >
            </li>
            <!--<li lang="javascript"><a href="{{ site.dcv_js_api }}core/basic-structures/captured-result-array.html" class="otherLinkColour">CapturedResultArray</a></li>-->
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/captured-result-item.html"
                class="otherLinkColour"
                >CapturedResultItem</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/captured-result-receiver.html"
                class="otherLinkColour"
                >CapturedResultReceiver</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcodes-result.html"
                class="otherLinkColour"
                >DecodedBarcodesResult</a
              >
            </li>
            <li lang="javascript">
              <a
                href="{{ site.dcv_js_api }}core/basic-structures/original-image-result-item.html"
                class="otherLinkColour"
                >OriginalImageResultItem</a
              >
            </li>
            <!--<li lang="javascript">
              <a
                href="{{ site.js_api }}decoded-barcodes-result-array.html"
                class="otherLinkColour"
                >DecodedBarcodesResultArray</a
              >
            </li>-->
            <!--
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}text-line-result-item.html" class="otherLinkColour">CTextLineResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}character-result.html" class="otherLinkColour">CCharacterResult</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-lines-result.html" class="otherLinkColour">CRecognizedTextLinesResult</a></li>
                        <li lang="javascript"><a href="{{ site.dlr_js_api }}recognized-text-lines-result-array.html" class="otherLinkColour">CRecognizedTextLinesResultArray</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quads-result-array.html" class="otherLinkColour">CDetectedQuadsResultArray</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-images-result-array.html" class="otherLinkColour">CNormalizedImagesResultArray</a></li>
                        <li lang="javascript"><a href="{{ site.dcp_js_api }}parsed-result-item.html" class="otherLinkColour">CParsedResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.dcp_js_api }}parsed-result.html" class="otherLinkColour">CParsedResult</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quad-result-item.html" class="otherLinkColour">DetectedQuadResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}detected-quads-result.html" class="otherLinkColour">DetectedQuadsResult</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-image-result-item.html" class="otherLinkColour">NormalizedImageResultItem</a></li>
                        <li lang="javascript"><a href="{{ site.ddn_js_api }}normalized-images-result.html" class="otherLinkColour">NormalizedImagesResult</a></li>
                        -->
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="{{ site.javascript-api-interface }}index.html"
        class="otherLinkColour"
        >Interfaces</a
      >
      <ul>
        <li>
          <a
            href="{{ site.javascript-api-interface }}BasicPersonalInfo.html"
            class="otherLinkColour"
            >BasicPersonalInfo</a
          >
        </li>
        <li>
          <a
            href="{{ site.javascript-api-interface }}CodeParserException.html"
            class="otherLinkColour"
            >CodeParserException</a
          >
        </li>
        <li>
          <a
            href="{{ site.javascript-api-interface }}ParseResult.html"
            class="otherLinkColour"
            >ParseResult</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="{{ site.javascript-api-enum }}index.html" class="otherLinkColour"
        >Enums</a
      >
      <ul>
        <li>
          <a
            href="{{ site.javascript-api-enum }}EnumCodeFormat.html"
            class="otherLinkColour"
            >EnumCodeFormat</a
          >
        </li>
        <li>
          <a
            href="{{ site.javascript-api-enum }}EnumErrorCode.html"
            class="otherLinkColour"
            >EnumErrorCode</a
          >
        </li>
        <li>
          <a
            href="{{ site.javascript-api-enum }}EnumResultInfoType.html"
            class="otherLinkColour"
            >EnumResultInfoType</a
          >
        </li>
      </ul>
    </li>
  </ul>
</li>
<li>
  <a href="{{ site.javascript-release-notes }}" class="otherLinkColour"
    >Release Notes</a
  >
  <ul>
    <li>
      <a
        href="{{ site.javascript-release-notes }}js-2.html"
        class="otherLinkColour"
        >Version 1.x</a
      >
    </li>
  </ul>
</li>
